node_modules
node_modules/*
generated/*
dist
build
.vscode

REST_API
public
k8s_configs
configs
webpack.config.js
config-overrides.js

apollo.config.js

/src/*.spec.js
/src/**/*.spec.js
/src/*.test.js
/src/**/*.test.js
cypress
deployment
types

tailwind.config.js
tailwind.config.cjs
src/index.html
index.html