logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea
.idea/
.idea/*

configs/env.local.ts
dist/*

.codetogether.ignore
configs/env.local.ts

generated/__ENV.ts
docker-compose-sws*.yml
QiankunPluginTest.ts
ignore*
report/*
report/html/index.html
.dccache
bind-volume
.history
